<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>
<h2>Reset your password</h2>
<form th:action="@{/reset-password}" method="post">
    <input type="hidden" th:value="${token}" name="token" />

    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required />

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required />

    <button type="submit">Submit</button>
</form>
</body>
</html>