<!doctype html>
<html xmlns:th="http://www.thymleaf.org"  lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1 th:text="'Welcome ' + ${username}"> </h1>

<p>
    <span th:text="'Hello ' + ${username}"></span>,<br/>
    We're really happy to have you as one of our users.<br/>
</p>

<p>Whether you're here to let off steam with your friends, share a unique experience with them or try to win the league, you've come to the right place.</p>

<p>Get ready to join wild matches, meet other enthusiasts, and above all, score memorable goals! ⚽🔥.</p>

<p>Don't hesitate to explore the app, create a tournament, a championship or join a team, and invite as many people as possible to join us to make the experience the best it can be. Our goal is for the WeFive League to be played all over the world.</p>

<p>If you have any questions, we're here to help.</p>

<p>See you on the field!<br/>

    The MyFootT team
</p>

</body>
</html>