<!doctype html>
<html xmlns:th="http://www.thymleaf.org"  lang="fr">
<head>
    <meta charset="UTF-8">
    <title>New Password Request</title>
</head>
<body>
<h1 th:text="'Welcome ' + ${username}"> </h1>

<p>
    <span th:text="'Hello ' + ${username}"></span>,<br/>
    <!--To reset your password, please follow the link below:<br/>
    <a th:href="${url}"></a> -->
    <ul>
        <li th:text="'copy this link in postman : ' + ${url}"></li>;
        <li>add a body (raw-json) expl: <br/>
        {
            "password": "Test54321!",
            "confirmPassword": "Test54321!"
        }
        </li>
        <li> execute </li>;
</ul>

</body>
</html>